* {
  /* color: var(--primary-color); */
  box-sizing: border-box;
}

:root{
  --primary-color: #e4dfde;
  --secondary-color: #ff5722;
  --tertiary-color: #2196f3;
  --light-gray: #f5f5f5;
  --dark-gray: #333333;
}

html, body {
  height: 100%;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  /* padding-top: 120px; */
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Open Sans', sans-serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Images/background-img.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration: none;
}

.contact {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact input,
.contact textarea {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  box-shadow: 0 0 3px #7d4cdb;
}

.contact .error {
  color: #f44336;
  margin-top: 5px;
  font-size: 0.9rem;
}

.contact button[type="submit"] {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  background-color: #7d4cdb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.contact button[type="submit"]:hover {
  background-color: #6c36b8;
}

#aboutMe{
  padding-top: 100px;
}

.nav-item{
  font-size: x-large;
}

.lead{
  font-size: 1.5rem !important;
  color: var(--primary-color);

}

#aboutH1{
  color: rgb(91, 142, 172);
}

#headerH1{
  color: rgb(91, 142, 172);
}

#Portfolio{
  padding-top: 120px;
  /* color:  rgb(91, 142, 172); */
}

.icons{
  color: rgb(91, 142, 172) !important;
}

#Resume{
  color: var(--primary-color);
}

.skill-icon{
  color: rgb(91, 142, 172) !important;
  font-size: 3rem;
}

li{
  margin-bottom: 10px;
}

.h2Resume{
  color: var(--primary-color)  !important;
  font-size: xx-large !important;
}

#resumeD{
  font-size: larger;
}

.navTitle{
  margin-left: 80px !important;
  color: var(--primary-color);
}

.portfolio-header{
  background-color: var(--primary-color)
}

.card-body{
  background-color: var(--primary-color);
}

.card-footer{
  background-color: var(--light-gray);
}


